<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 게임사 등록 -->
	<entry key="insertCompany">
		INSERT
		  INTO COMPANY
		  (
		    COMPANY_NO
		  , COMPANY_NAME
		  , COMPANY_PWD
		  , COMPANY_HEAD
		  , COMPANY_COMMENT
		  , COMPANY_ID
		  )
		  VALUES
		  (
		    SEQ_CNO.NEXTVAL
		  , ?
		  , DBMS_RANDOM.STRING('A',7)
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<!-- 게임사 리스트 수 -->
	<entry key="selectListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM COMPANY
		 WHERE COMPANY_STATUS = 'Y'
	</entry>
	
	<!-- 게임사 목록 조회 -->
	<entry key="selectCompanyList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT 
						       COMPANY_NO
						     , COMPANY_NAME
						     , COMPANY_ID
						     , COMPANY_PWD
						     , COMPANY_ENROLL
						  FROM COMPANY
						 WHERE COMPANY_STATUS = 'Y'
						 ORDER
						    BY COMPANY_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 게임사 검색 결과 조회 -->
	<entry key="searchCompany">
		SELECT 
		       COMPANY_NO
		     , COMPANY_NAME
		     , COMPANY_ID
		     , COMPANY_PWD
		     , COMPANY_ENROLL
		  FROM COMPANY
		 WHERE COMPANY_STATUS = 'Y'
		   AND UPPER(COMPANY_NAME) LIKE UPPER('%' || ? || '%')
		 ORDER
		    BY COMPANY_NO DESC
	</entry>
	
	<!-- 게임사 상세 조회 -->
	<entry key="selectCompanyDetail">
		SELECT
		       COMPANY_NO
		     , COMPANY_NAME
		     , COMPANY_ID
		     , COMPANY_PWD
		     , COMPANY_HEAD
		     , COMPANY_COMMENT
		  FROM COMPANY
		 WHERE COMPANY_NO = ?
	</entry>
	
	<!-- 게임사 수정 -->
	<entry key="updateCompany">
		UPDATE
		       COMPANY
		   SET COMPANY_NAME = ?
		     , COMPANY_ID = ?
		     , COMPANY_HEAD = ?
		     , COMPANY_COMMENT = ?
		 WHERE COMPANY_NO = ?
	</entry>

	<!-- 게임사 삭제 -->
	<entry key="deleteCompany">
		UPDATE
		       COMPANY
		   SET COMPANY_STATUS = 'N'
		 WHERE COMPANY_NO = ?
	</entry>

	<!-- 제공 게임 목록 조회  -->
	<entry key="selectGameList">
		SELECT
		       GAME_NO
		     , KOR_NAME
		     , ENG_NAME
		     , TO_CHAR(RELEASE_DATE, 'YY/MM/DD') "RELEASE_DATE"
		     , TO_CHAR(UPLOAD_DATE, 'YY/MM/DD') "UPLOAD_DATE"
		  FROM GAME
		 WHERE GAME_STATUS = 'Y'
		   AND COMPANY_NO = ?
		 ORDER
		    BY GAME_NO DESC
	</entry>











</properties>